[core]
	; autocrlf = input
	safecrlf = warn
	excludesfile = ~/.gitignore_global
	; gitproxy = gitproxy
	editor = vim
[github]
    user = bachue
[branch]
	autosetuprebase = always
[color]
	ui = auto
[diff]
    renames = copies
    algorithm = patience
[user]
	name = Bachue Zhou
	email = bachue.shu@gmail.com
[merge]
	summary = true
[push]
	default = current
[alias]
    a		= add
    aa		= add .
    add-unmerged    = "!f() { git ls-files -u | awk '{print $NF}' | sort -u; }; git add `f`"
    amr		= am --resolved
    assume   = update-index --assume-unchanged
    assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
    au		= add -u
    b		= branch
    b       = branch
    check   = "!git --no-pager diff --check"
    cb		= checkout -b
    ch		= cherry -v
    ci		= commit
    cia		= commit --amend
    cm      = commit -m
    co		= checkout
    co      = checkout
    d		= diff -b --color-words='[^[:space:]]+|.'
    dc		= diff -b --cached
    dct		= difftool --cached
    dcw		= diff -b --cached --word-diff=color
    diff    = diff --color-words='[^[:space:]]+|.'
    ds		= diff -b --stat
    dt		= difftool
    dw		= diff -b --word-diff=color
    edit-unmerged   = "!f() { git ls-files -u | awk '{print $NF}' | sort -u; }; gvim `f`"
    ignored = status --ignored
    l		= log -p
    last	= log -1 HEAD
    lg      = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lol     = log --oneline --graph --all --decorate
    mt      = mergetool -y
    ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
    pr		= pull-request
    ps		= log --pretty=oneline origin..master
    rb		= rebase
    rba		= rebase --abort
    rbc		= rebase --continue
    rbi		= rebase -i
    rt		= reset
    rth		= reset --hard
    s		= status
    show	= show -b
    showw	= show -b --word-diff=color
    sm		= submodule
    snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
    st		= stash
    stl		= stash list
    stp		= stash pop
    stp1	= stash pop stash@{1}
    stp2	= stash pop stash@{2}
    stp3	= stash pop stash@{3}
    stp4	= stash pop stash@{4}
    stp5	= stash pop stash@{5}
    sts		= stash show -p
    sts1	= stash show stash@{1} -p
    sts2	= stash show stash@{2} -p
    sts3	= stash show stash@{3} -p
    sts4	= stash show stash@{4} -p
    sts5	= stash show stash@{5} -p
    theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
    today = !git log --since=\"12 hours ago\" --author=\"`git config --get user.name`\" --reverse --pretty=format:%s
    unassume = update-index --no-assume-unchanged
    unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u; }; f"
    unstage = reset HEAD --
    untracked = ls-files --others --exclude-standard
    w		= whatchanged
    wc		= whatchanged -p
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
